@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';

body {
    background-color: $blue;

    @media screen and (max-width: $breakpoint) {
        font-size: 0.6em;
    }
}

div#App {
    @include flex($flex-direction: column, $justify-content: flex-start);

    div.Header {
        z-index: 20;
        @include flex($justify-content: space-between);
        width: 100%;
        padding: $header-padding;

        > div {
            @include flex($justify-content: space-between);

            > * {
                color: $header-color;
                font-size: $header-size;
            }

            > *:not(:last-child) {
                margin-right: $header-spacing;
            }

            .larger-text {
                font-size: $header-larger-size;
            }
        }
    }

    div.Landing {
        @include flex($flex-direction: column, $justify-content: flex-start);
        flex-grow: 1;
        width: 100%;
        padding: $landing-padding;
    }
}

div.Watch {
    @include flex($flex-direction: column, $align-items: stretch, $justify-content: flex-start);
    width: 100%;
    height: 100%;
    min-height: $body-min-height;

    div.player {
        @include flex($flex-direction: column);
        div.video-info {
            @include flex($flex-direction: column);
            width: 100%;

            h1, h2 {
                color: $video-info-color;
                &:focus {
                    @include focus();
                }
            }
        }
    }
}


div.Body {
    @include flex($flex-direction: column);
    width: $body-width;
    max-width: 100%;
    height: 100%;
    min-height: $body-min-height;

    h1.logo {
        margin-bottom: $logo-under;

        font-size: $logo-font-size;
        font-family: $logo-font-family;
        font-weight: $logo-font-weight;
        letter-spacing: $logo-letter-spacing;
        color: $logo-font-color;
    }
    div.CreateBox {
        width: 100%;
        margin-bottom: 5em;

        div.background {    
            @include flex($align-items: stretch);
            
            padding: $create-box-padding;
            background-color: $create-box-bg;   
        }

        input {
            @include focus();
            border-right: none!important;

            flex-grow: 1;
            
            padding: $urlbox-padding;

            font-size: $urlbox-font-size;

            background: none;
        }

        button.CreateButton {
            @include flex;
            @include focus($color: $blue);

            padding: $createbutton-padding;

            font-size: $createbutton-size;

            background-color: $createbutton-bg;
            color: $createbutton-color;

            cursor: pointer;

            &.disabled {
                background-color: #ddd!important;
                cursor: initial!important;
            }
        }
    }

    a {
        color: white!important;
        text-decoration: underline;
        cursor: pointer;
    }
}

div.Modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    

    padding-bottom: $modal-offset-bottom;

    background: $modal-overlay;
    
    cursor: pointer;

    @include flex;

    div.modal-container {
        @include flex;
        width: calc(100% - #{$modal-margin});
        max-width: $modal-max-width;
        min-height: $modal-min-height;
        max-height: 100%;
        
        padding: $modal-padding;

        background: $dark-blue;
        color: $off-white;   

        cursor: default;

        > div {
            @include flex($flex-direction: column);  

            h1 {
                margin-bottom: $modal-header-under;
            }
        }
    }


    div.TextBox {
        @include flex($flex-direction: row);
        width: 100%;

        div.background {
            @include flex($align-items: stretch);  
            width: 100%;
            padding: $textbox-bg-padding;
            background-color: $textbox-bg;   

            input {
                @include focus();

                flex-grow: 1;

                padding: $textbox-padding;
                font-size: $textbox-font-size;
                background: none;
            }
        }
        &:not(:last-child) {
            margin-bottom: $textbox-between;
        }
    }

    div.msg {
        margin-bottom: $textbox-between;
        text-align: center;
    }

    button {
        @include focus($color: $blue);
        font-size: $button-font-size;
        padding: $button-padding;
    }
}

div.Signup {
    div.message {
        padding-bottom: $modal-header-under;
        cursor: pointer;
        text-decoration: underline;
    }
    button.Button {
        @include focus($color: transparent);
        background-color: $signup-button-bg;
        color: $signup-button-color;
    }
}

.Icon {
    @include flex;
    color: $icon-color;
    padding: $icon-padding;
}

button.speak {
         @include focus($color: $blue);
        font-size: $button-font-size;
        padding: $button-padding;
        color: $white;
        background-color: $pink;
        cursor: pointer;
    }

div.Recents {
    width: 100%;
    @include flex($flex-direction: column);
    h2 {
        color: white;

    }
    > div.recent-entries {
        @include flex();
        width: 100%;
        flex-wrap: wrap;

        > div.RecentEntry {
            cursor: pointer;
            @include flex($flex-direction: column);
            width: calc(100% / 3 - 10px);
            margin: 5px;
            color: white;
        }
    }
}

div.About {
    max-width: 400px;
    height: 70vh;
    @include flex($flex-direction: column);
    div.bigger {
        color: white; 
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    div.smaller {
        color: white;
        font-size: 1.1em;
        a {
            color: white;
            text-decoration: underline!important;
        }
    }
}