$emphasis-border-width: 4px;
$emphasis-border-color: $pink;
$emphasis-fade: 0.5s;

$header-padding: 2em;
$header-spacing: 2.5em;
$header-color: $white;
$header-size: 1.5em;
$header-larger-size: 2.5em;

$landing-padding: 10px;

$create-box-bg: $off-white;
$create-box-padding: 2px;

$body-width: 800px;
$body-min-height: 50vh;

$logo-font-family: $font2;
$logo-font-color: $white;
$logo-font-size: 6em;
$logo-font-weight: 400;
$logo-under: 0.3em;

$urlbox-font-size: 1em;
$urlbox-padding: 0 0.5em;

$createbutton-size: 1.2em;
$createbutton-padding: 0.4em 1.8em;
$createbutton-bg: $pink;
$createbutton-color: $white;

$modal-overlay: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.6) 100%);;
$modal-margin: 20px;
$modal-max-width: 720px;