$emphasis-border-width: 4px;
$emphasis-border-color: $pink;
$emphasis-fade: 0.5s;

$header-padding: 2em;
$header-spacing: 2.5em;
$header-color: $white;
$header-size: 1.5em;
$header-larger-size: 2.5em;

$landing-padding: 10px;

$create-box-bg: $off-white;
$create-box-padding: 2px;

$body-width: 800px;
$body-min-height: 50vh;

$logo-font-family: $font2;
$logo-font-color: $white;
$logo-font-size: 7.5em;
$logo-font-weight: 400;
$logo-letter-spacing: -0.015em;
$logo-under: 0.3em;

$urlbox-font-size: 1em;
$urlbox-padding: 0 0.5em;

$createbutton-size: 1.2em;
$createbutton-padding: 0.4em 1.8em;
$createbutton-bg: $pink;
$createbutton-color: $white;

$modal-overlay: rgba(black, 0.5);
$modal-margin: 20px;
$modal-offset-bottom: 10%;
$modal-padding: 4em;
$modal-max-width: 720px;
$modal-min-height: 20%;
$modal-header-under: 2em;

$textbox-bg: $off-white;
$textbox-bg-padding: 2px;
$textbox-padding: 0.4em 0.5em;
$textbox-font-size: 1em;
$textbox-between: 2em;

$button-font-size: 1em;
$button-padding: 0.5em 1em;

$signup-button-bg: $yellow;
$signup-button-color: $black;